body {
  background-color: black;
  background-size: cover;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 200px 200px 200px;
      grid-template-rows: 200px 200px 200px;
}

.grid p {
  border: 5px solid white;
  color: white;
  padding: 20px;
  text-align: center;
  margin: auto;
}

.button1 {
  -webkit-transition: color 1s ease-in, background-color 1s ease-in;
  -o-transition: color 1s ease-in, background-color 1s ease-in;
  transition: color 1s ease-in, background-color 1s ease-in;
}

.button1:hover {
  background-color: white;
  color: black;
}

.button2 {
  -webkit-transition: color 1s  ease-in, background-color 1s ease-in, -webkit-transform 1s ease-in;
  transition: color 1s  ease-in, background-color 1s ease-in, -webkit-transform 1s ease-in;
  -o-transition: color 1s  ease-in, background-color 1s ease-in, transform 1s ease-in;
  transition: color 1s  ease-in, background-color 1s ease-in, transform 1s ease-in;
  transition: color 1s  ease-in, background-color 1s ease-in, transform 1s ease-in, -webkit-transform 1s ease-in;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.button2:hover {
  background-color: white;
  color: black;
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}

.button3 {
  -webkit-transition: color 1s ease-in, background-color 1s ease-in, -webkit-transform 1s ease-in;
  transition: color 1s ease-in, background-color 1s ease-in, -webkit-transform 1s ease-in;
  -o-transition: color 1s ease-in, background-color 1s ease-in, transform 1s ease-in;
  transition: color 1s ease-in, background-color 1s ease-in, transform 1s ease-in;
  transition: color 1s ease-in, background-color 1s ease-in, transform 1s ease-in, -webkit-transform 1s ease-in;
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
}

.button3:hover {
  background-color: white;
  color: black;
  -webkit-transform: translateX(150px);
      -ms-transform: translateX(150px);
          transform: translateX(150px);
}
